In [23]:
import pandas as pd

df1 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\TESTsales.xlsx')
df2 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\TESTinventory.xlsx')
#df3 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\DF3.xlsx')

print("contents of file1.csv")
print(df1)

print("contents of file2.csv")
print(df2)

contents of file1.csv
    DATE CODES  PRODUCTS   UNITS  QTY  PRICE
0  44792   A01       Pen     Box    2     15
1  44792   A02  Notebook  Bundle    5     25
2  44792   A03   Monitor     Box    5    185
3  44792   A03   Monitor     Box    2    185
contents of file2.csv
  CODES  PRODUCTS   UNITS  RECEIVED  SALES  STOCKS  PRICE  TOTAL
0   A01       Pen     Box        10      2       8     15    150
1   A02  Notebook  Bundle        20      5      15     25    500
2   A03   Monitor     Box        10      7       3    185   1850

In [24]:
import pandas as pd

df1 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\TESTsales.xlsx')
df2 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\TESTinventory.xlsx')
df3 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\DF3.xlsx')

print("contents of file1.csv")
print(df1)

print("contents of file2.csv")
print(df2)

print("contents of file3.csv")
print(df3)

contents of file1.csv
    DATE CODES  PRODUCTS   UNITS  QTY  PRICE
0  44792   A01       Pen     Box    2     15
1  44792   A02  Notebook  Bundle    5     25
2  44792   A03   Monitor     Box    5    185
3  44792   A03   Monitor     Box    2    185
contents of file2.csv
  CODES  PRODUCTS   UNITS  RECEIVED  SALES  STOCKS  PRICE  TOTAL
0   A01       Pen     Box        10      2       8     15    150
1   A02  Notebook  Bundle        20      5      15     25    500
2   A03   Monitor     Box        10      7       3    185   1850
contents of file3.csv
Empty DataFrame
Columns: [DATE, CODES, PRODUCTS, UNITS, QTY, PRICE]
Index: []

In [7]:
import pandas as pd

df1 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\TESTsales.xlsx')
df2 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\TESTinventory.xlsx')
df3 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\DF3.xlsx')

print("contents of SALES | file1.csv")
print(df1)

print("contents of Iventory | file2.csv")
print(df2)



# Copy 'DATE' column from df1 to df3
df3['DATE'] = df1['DATE']
df3['CODES'] = df1['CODES']
df3['PRODUCTS'] = df1['PRODUCTS']
df3['UNITS'] = df1['UNITS']
df3['QTY'] = df1['QTY']
df3['PRICE'] = df1['PRICE']

# Display contents of df3
print("Contents of file3.csv after copying the columns:")
print(df3)

contents of SALES | file1.csv
    DATE CODES  PRODUCTS   UNITS  QTY  PRICE
0  44792   A01       Pen     Box    2     15
1  44792   A02  Notebook  Bundle    5     25
2  44792   A03   Monitor     Box    5    185
3  44792   A03   Monitor     Box    2    185
contents of Iventory | file2.csv
  CODES  PRODUCTS   UNITS  RECEIVED  SALES  STOCKS  PRICE  TOTAL
0   A01       Pen     Box        10      2       8     15    150
1   A02  Notebook  Bundle        20      5      15     25    500
2   A03   Monitor     Box        10      7       3    185   1850
Contents of file3.csv after copying the columns:
    DATE CODES  PRODUCTS   UNITS  QTY  PRICE
0  44792   A01       Pen     Box    2     15
1  44792   A02  Notebook  Bundle    5     25
2  44792   A03   Monitor     Box    5    185
3  44792   A03   Monitor     Box    2    185

In [8]:
df3.head()

    DATE CODES  PRODUCTS   UNITS  QTY  PRICE
0  44792   A01       Pen     Box    2     15
1  44792   A02  Notebook  Bundle    5     25
2  44792   A03   Monitor     Box    5    185
3  44792   A03   Monitor     Box    2    185

In [9]:
import pandas as pd

df1 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\TESTsales.xlsx')
df2 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\TESTinventory.xlsx')
df3 = pd.read_excel(r'C:\Users\jeespenorio\Desktop\project\DF3.xlsx')

print("contents of SALES | file1.csv")
print(df1)

print("contents of Iventory | file2.csv")
print(df2)



# Copy 'DATE' column from df1 to df3
df3['DATE'] = df1['DATE']
df3['CODES'] = df1['CODES']
df3['PRODUCTS'] = df1['PRODUCTS']
df3['UNITS'] = df1['UNITS']
df3['QTY'] = df1['QTY']
df3['PRICE'] = df1['PRICE']

# Identify common columns between df2 and df3
common_columns = df2.columns.intersection(df3.columns)

# Include content of column 'B' from df2 in df3
df3['STOCKS'] = df2['STOCKS']

# Display contents of df3
print("Contents of file3.csv after copying the columns:")
print(df3)

contents of SALES | file1.csv
    DATE CODES  PRODUCTS   UNITS  QTY  PRICE
0  44792   A01       Pen     Box    2     15
1  44792   A02  Notebook  Bundle    5     25
2  44792   A03   Monitor     Box    5    185
3  44792   A03   Monitor     Box    2    185
contents of Iventory | file2.csv
  CODES  PRODUCTS   UNITS  RECEIVED  SALES  STOCKS  PRICE  TOTAL
0   A01       Pen     Box        10      2       8     15    150
1   A02  Notebook  Bundle        20      5      15     25    500
2   A03   Monitor     Box        10      7       3    185   1850
Contents of file3.csv after copying the columns:
    DATE CODES  PRODUCTS   UNITS  QTY  PRICE  STOCKS
0  44792   A01       Pen     Box    2     15     8.0
1  44792   A02  Notebook  Bundle    5     25    15.0
2  44792   A03   Monitor     Box    5    185     3.0
3  44792   A03   Monitor     Box    2    185     NaN

In [10]:
df3.head()

    DATE CODES  PRODUCTS   UNITS  QTY  PRICE  STOCKS
0  44792   A01       Pen     Box    2     15     8.0
1  44792   A02  Notebook  Bundle    5     25    15.0
2  44792   A03   Monitor     Box    5    185     3.0
3  44792   A03   Monitor     Box    2    185     NaN