In [2]:
import pandas as pd

df1 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\sales.csv')
df2 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\inventory.csv')

print("contents of file1.csv")
print(df1)

print("contents of file2.csv")
print(df2)

contents of file1.csv
   SALES Column2   Column3 Column4 Column5 Column6
0   DATE   CODES  PRODUCTS   UNITS     QTY   PRICE
1  44792     A01       Pen     Box       2      15
2  44792     A02  Notebook  Bundle       5      25
3  44792     A03   Monitor     Box       5     185
4  44792     A03   Monitor     Box       2     185
contents of file2.csv
  STOCKS INVENTORY   Column2 Column3   Column4 Column5 Column6 Column7 Column8
0            CODES  PRODUCTS   UNITS  RECEIVED   SALES  STOCKS   PRICE   TOTAL
1              A01       Pen     Box        10       2       8      15     150
2              A02  Notebook  Bundle        20       5      15      25     500
3              A03   Monitor     Box        10       7       3     185    1850

In [7]:
import pandas as pd

# Read the CSV file
df1 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\sales.csv')

# Display existing column names
print(df1.columns)

Index(['SALES', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6'], dtype='object')

In [9]:
import pandas as pd

# Read the CSV file
df1 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\sales.csv')

# Display existing column names
print("Existing column names:")
print(df1.columns)

# Rename columns to the desired names
new_column_names = {
    'Column1':'DATE',
    'Column2': 'CODES',
    'Column3': 'PRODUCTS',
    'Column4': 'UNITS',
    'Column5': 'QTY',
    'Column6': 'PRICE'
}

# Rename columns in the DataFrame
df1 = df1.rename(columns=new_column_names)

# Display updated column names
print("\nUpdated column names:")
print(df1.columns)

Existing column names:
Index(['SALES', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6'], dtype='object')

Updated column names:
Index(['DATE', 'CODES', 'PRODUCTS', 'UNITS', 'QTY', 'PRICE'], dtype='object')

In [12]:
df1.head()

Empty DataFrame
Columns: [SALES, Column2, Column3, Column4, Column5, Column6]
Index: []

In [11]:
import pandas as pd

# Read the CSV file
df1 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\sales.csv')

# Display the DataFrame before removing rows
print("DataFrame before removing rows:")
print(df1)

# Remove rows from index 0 to index 4
df1 = df1.drop(index=range(0, 5))

# Display the DataFrame after removing rows
print("\nDataFrame after removing rows 0 to 4:")
print(df1)

DataFrame before removing rows:
   SALES Column2   Column3 Column4 Column5 Column6
0   DATE   CODES  PRODUCTS   UNITS     QTY   PRICE
1  44792     A01       Pen     Box       2      15
2  44792     A02  Notebook  Bundle       5      25
3  44792     A03   Monitor     Box       5     185
4  44792     A03   Monitor     Box       2     185

DataFrame after removing rows 0 to 4:
Empty DataFrame
Columns: [SALES, Column2, Column3, Column4, Column5, Column6]
Index: []

In [13]:
import pandas as pd

# Read the CSV file
df1 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\sales.csv')

# Display existing column names
print("Existing column names:")
print(df1.columns)

# Rename columns to the desired names
new_column_names = {
    'SALES': 'DATE',
    'Column2': 'CODES',
    'Column3': 'PRODUCTS',
    'Column4': 'UNITS',
    'Column5': 'QTY',
    'Column6': 'PRICE'
}

# Rename columns in the DataFrame
df1 = df1.rename(columns=new_column_names)

# Display updated column names
print("\nUpdated column names:")
print(df1.columns)

Existing column names:
Index(['SALES', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6'], dtype='object')

Updated column names:
Index(['DATE', 'CODES', 'PRODUCTS', 'UNITS', 'QTY', 'PRICE'], dtype='object')

In [15]:
df1 = df1.drop(index=range(0, 5))
df1.head()

Empty DataFrame
Columns: [DATE, CODES, PRODUCTS, UNITS, QTY, PRICE]
Index: []

In [16]:
import pandas as pd

#df1 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\sales.csv')
df2 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\inventory.csv')

print("contents of file1.csv")
print(df1)

print("contents of file2.csv")
print(df2)

contents of file1.csv
Empty DataFrame
Columns: [DATE, CODES, PRODUCTS, UNITS, QTY, PRICE]
Index: []
contents of file2.csv
  STOCKS INVENTORY   Column2 Column3   Column4 Column5 Column6 Column7 Column8
0            CODES  PRODUCTS   UNITS  RECEIVED   SALES  STOCKS   PRICE   TOTAL
1              A01       Pen     Box        10       2       8      15     150
2              A02  Notebook  Bundle        20       5      15      25     500
3              A03   Monitor     Box        10       7       3     185    1850

In [4]:
import pandas as pd

# Read the CSV file with the first row as headers
df2 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\inventory.csv', header=0)

# Assuming df1 is also initialized
df1 = pd.DataFrame()  # Initialize an empty DataFrame or read another file into df1

# Copy 'CODES' column from df2 to df1
# df1['CODES'] = df2['CODES']

# Display df1 to verify the changes
print("Contents of df1:")
print(df1)

print("\nContents of df2 with headers from the first row:")
print(df2)

Contents of df1:
Empty DataFrame
Columns: []
Index: []

Contents of df2 with headers from the first row:
  STOCKS INVENTORY   Column2 Column3   Column4 Column5 Column6 Column7 Column8
0            CODES  PRODUCTS   UNITS  RECEIVED   SALES  STOCKS   PRICE   TOTAL
1              A01       Pen     Box        10       2       8      15     150
2              A02  Notebook  Bundle        20       5      15      25     500
3              A03   Monitor     Box        10       7       3     185    1850

In [6]:
import pandas as pd

# Read the CSV file with the first row as headers
df2 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\inventory.csv', header=0)

# Display df2 with headers from the first row
print("Contents of df2 with headers from the first row:")
print(df2)

# Read the CSV file with the second row as headers
test = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\inventory.csv', header=1)

# Display df2 with headers from the second row
print("Contents of df2 with headers from the second row:")
print(test)

Contents of df2 with headers from the first row:
  STOCKS INVENTORY   Column2 Column3   Column4 Column5 Column6 Column7 Column8
0            CODES  PRODUCTS   UNITS  RECEIVED   SALES  STOCKS   PRICE   TOTAL
1              A01       Pen     Box        10       2       8      15     150
2              A02  Notebook  Bundle        20       5      15      25     500
3              A03   Monitor     Box        10       7       3     185    1850
Contents of df2 with headers from the second row:
  CODES  PRODUCTS   UNITS  RECEIVED  SALES  STOCKS  PRICE  TOTAL
0   A01       Pen     Box        10      2       8     15    150
1   A02  Notebook  Bundle        20      5      15     25    500
2   A03   Monitor     Box        10      7       3    185   1850

In [11]:
import pandas as pd

# Assuming df2 is your DataFrame
# Read the CSV file with the first row as headers into df2
df2 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\inventory.csv', header=0)

# Define a dictionary mapping old column names to new column names
new_column_names = {
    'STOCKS INVENTORY':'DATE',
    'Column2': 'CODES',
    'Column3': 'PRODUCTS',
    'Column4': 'UNITS',
    'Column5': 'QTY',
    'Column6': 'PRICE'
}

# Rename columns in df2 using the new_column_names dictionary
df3 = df3.rename(columns=new_column_names)

# Display df2 with renamed columns
print("Contents of df3 with renamed columns:")
print(df3)

Contents of df3 with renamed columns:
  DATE CODES PRODUCTS UNITS QTY PRICE Column7 Column8
0  A01   Pen      Box    10   2     8      15     150

In [14]:
import pandas as pd

# Read the CSV file with the first row as headers into df2
df2 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\inventory.csv', header=0)

# Remove the second row from df2 and set the first row as column names
df3 = pd.DataFrame(df3.values[1:], columns=df3.iloc[0])

# Reset index after removing the second row
df3.reset_index(drop=True, inplace=True)

# Display df3 without the second row and with the renamed columns
print("Contents of df3 without the second row and with renamed columns:")
print(df3)

Contents of df3 with only the column headers:
  STOCKS INVENTORY   Column2 Column3   Column4 Column5 Column6 Column7 Column8
0            CODES  PRODUCTS   UNITS  RECEIVED   SALES  STOCKS   PRICE   TOTAL

In [15]:
import pandas as pd

# Read the CSV file with the first row as headers into df2
df2 = pd.read_csv(r'C:\Users\jeespenorio\Desktop\project\inventory.csv', header=0)

# Create a new DataFrame with only the first row (column headers)
df3 = df2.iloc[[0]]  # Select the first row

# Display df3 containing only the column headers
print("Contents of df3 with only the column headers:")
print(df3)

Contents of df3 with only the column headers:
  STOCKS INVENTORY   Column2 Column3   Column4 Column5 Column6 Column7 Column8
0            CODES  PRODUCTS   UNITS  RECEIVED   SALES  STOCKS   PRICE   TOTAL

In [2]:
import pandas as pd

# Example DataFrames (Synthetic Data)
data1 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

data2 = {
    'B': [10, 11, 12],
    'C': [13, 14, 15],
    'D': [16, 17, 18]
}

data3 = {
    'A': [19, 20, 21],
    'C': [22, 23, 24],
    'D': [25, 26, 27]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

# Displaying contents of df1, df2, and df3
print("Contents of df1:")
print(df1)

print("\nContents of df2:")
print(df2)

print("\nContents of df3:")
print(df3)

# Identify common columns between df2 and df3
common_columns = df2.columns.intersection(df3.columns)

# Select columns from df2 that are present in df3
df2_common = df2[common_columns]

# Join columns from df2_common to df3 with a suffix for overlap
df3 = df3.join(df2_common, rsuffix='_from_df2')

# Display contents of df3 with added columns from df2
print("\nContents of df3 with added columns from df2 (with suffix):")
print(df3)

Contents of df1:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Contents of df2:
    B   C   D
0  10  13  16
1  11  14  17
2  12  15  18

Contents of df3:
    A   C   D
0  19  22  25
1  20  23  26
2  21  24  27

Contents of df3 with added columns from df2 (with suffix):
    A   C   D  C_from_df2  D_from_df2
0  19  22  25          13          16
1  20  23  26          14          17
2  21  24  27          15          18

In [4]:
import pandas as pd

# Example DataFrames (Synthetic Data)
data1 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

data2 = {
    'B': [10, 11, 12],
    'C': [13, 14, 15],
    'D': [16, 17, 18]
}

data3 = {
    'A': [19, 20, 21],
    'C': [22, 23, 24],
    'D': [25, 26, 27]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

# Displaying contents of df1, df2, and df3
print("Contents of df1:")
print(df1)

print("\nContents of df2:")
print(df2)

print("\nContents of df3:")
print(df3)

# Identify common columns between df2 and df3
common_columns = df2.columns.intersection(df3.columns)

# Select columns from df2 that are present in df3
df2_common = df2[common_columns]

# Join columns from df2_common to df3 with a suffix for overlap
df3 = df3.join(df2_common, rsuffix='_from_df2')

# Include content of column 'B' from df2 in df3
df3['B_from_df2'] = df2['B']

# Display contents of df3 with added columns from df2
print("\nContents of df3 with added columns from df2 (including column 'B' from df2):")
print(df3)

Contents of df1:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Contents of df2:
    B   C   D
0  10  13  16
1  11  14  17
2  12  15  18

Contents of df3:
    A   C   D
0  19  22  25
1  20  23  26
2  21  24  27

Contents of df3 with added columns from df2 (including column 'B' from df2):
    A   C   D  C_from_df2  D_from_df2  B_from_df2
0  19  22  25          13          16          10
1  20  23  26          14          17          11
2  21  24  27          15          18          12